.basileNavbar {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 3rem;
  background-color: #333;
  color: white;
}

.basileNavbarLeft,
.basileNavbarRight,
.basileNavbarCenter {
  display: flex;
  align-items: center;
}

.basileNavbarCenter {
  position: relative;
}

.basileNavbarLeft h1 {
  font-size: 1.5rem;
}

.basileNavbarLeft h3 {
  font-size: 1.1rem;
  font-weight: 300;
}

.basileNavbarSeparator {
  margin: 0 1.5rem;
}

.basileNavbarSearchButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;  /* Ajout d'un bord arrondi */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basileNavbarSearchButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.basileNavbarSearchButton.active {
  background-color: rgba(0, 123, 255, 0.2);
  color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.basileNavbarSearchInput {
  width: 0;
  height: 30px;
  border: 2px solid transparent;
  background-color: #333;
  color: white;
  transition: width 0.5s ease, border-color 0.5s ease;
  outline: none;
  padding: 0;
  border-radius: 15px;
}

.basileNavbarSearchInput::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.basileNavbarSearchInput.active,
.basileNavbarSearchButton.active + .basileNavbarSearchInput {
  width: 200px;
  border-color: #007bff;
  padding: 0 0.5rem;
}

.basileNavbarButton {
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  padding: 0 2rem;
  overflow: hidden;
  z-index: 1;
  transition: background 0.5s ease-in-out, border-radius 0.5s ease-in-out, color 0.5s ease-in-out;
  background: linear-gradient(45deg, #3498db, #259ef0, #0c7cd5, #0738be);
  background-size: 400% 400%;
  animation: Gradient 6s ease infinite;
}

.basileNavbarButton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, transparent, #3498db, #259ef0, #0c7cd5, #0738be);
  background-size: 400% 400%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  animation: Gradient 6s ease infinite;
}

.basileNavbarButton:hover {
  color: #ffffff;
  background: linear-gradient(45deg, #3498db, #9b59b6, #e67e22, #f1c40f);
  background-size: 400% 400%;
  animation: Gradient 6s ease infinite;
  transition: border-radius 0.5s ease-in-out, background 0.5s ease-in-out, color 0.5s ease-in-out;
  border-radius: 15px;
}

.basileNavbarButton:hover:before {
  opacity: 1;
  background: linear-gradient(45deg, transparent, #3498db, #9b59b6, #e67e22, #f1c40f);
  background-size: 400% 400%;
  animation: Gradient 6s ease infinite;
  transition: border-radius 0.5s ease-in-out;
  border-radius: 15px;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.searchDropdownContainer {
  position: relative;
  width: 100%;
}

.searchDropdownContainer:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.searchDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  overflow-y: auto;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 10;
}

.searchDropdown div {
  padding: 10px;
}

.searchDropdown div:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
