.cta-home-container {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 2rem 0;
  margin-top: 3rem;
}

.cta-home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.cta-home-text {
  padding-left: 4rem;
  color: white;
  flex: 2;
  z-index: 1;
}

.cta-home-text h3, .cta-home-text p {
  margin: 0 0 0.4rem 0;
}

.cta-home-button {
  flex: 1;
  text-align: right;
  padding-right: 4rem;
}

@media (max-width: 768px) {
  .cta-home-content {
    flex-direction: column;
    align-items: center;
  }

  .cta-home-text {
    padding-left: 2rem;
    text-align: center;
    flex: auto;
  }

  .cta-home-button {
    padding-right: 2rem;
    text-align: center;
    flex: auto;
  }
}

@media (max-width: 480px) {
  .cta-home-text {
    padding-left: 1rem;
  }

  .cta-home-button {
    padding-right: 1rem;
  }
}
